a {
    cursor: pointer;
}

#editForm {
    display: none;
    margin-bottom: 16px;
}

button {
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 6px;
}

form {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}