@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-2">Todo List</h1>
    <p class="mt-4 lead fw-bold">Add a new task</p>
    <form method="POST" onsubmit="addItem()">
        <label for="addName">Task:</label>
        <input class="form-control w-25" placeholder="Enter a new task!" type="text" id="addName"/>
        <input class="btn btn-primary" type="submit" value="Add" />
    </form>
    <hr />
    <div id="editForm">
        <p class="mt-4 lead fw-bold">Edit</p>
        <form onsubmit="updateItem()">
            <input type="hidden" id="editId" />
            <label for="editName">Task:</label>
            <input class="form-control w-25" type="text" id="editName" />
            <input class="form-check-input" type="checkbox" id="editIsComplete" />
            <input class="btn btn-success" type="submit" value="Save" />
            <a onclick="closeInput()"><i class="bi bi-x-circle-fill h5 border-dark"></i></a>
        </form>
        <hr />
    </div>

    <p class="lead mt-2" id="counter"></p>

    <table class="table table-light table-bordered border-secondary table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Is Complete</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="todoItems"></tbody>
    </table>
</div>
